<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <http pattern="/favicon.ico" security="none" />
    <http pattern="/*/*.js" security="none" />
    
    <http auto-config='true'>    	
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_REMEMBERED" />
		<form-login 
		    	login-page='/login'
			default-target-url="/"
			authentication-failure-url="/login?error"
			username-parameter="j_username"
			password-parameter="j_password" />
	</http>
	
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">  
			<password-encoder hash="plaintext" />
		</authentication-provider>  
	</authentication-manager>
    
</beans:beans>